@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Playwrite+CL:wght@100..400&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif; 
}

:root {

    --fonte001: "playwrite cl", sans-serif;

    --cor001: #6F6F6F;
    --cor002: #c55c5c7e;
    --cor003: #48b0f071;
    --cor004: #f0ed4883;
}

html body {
   background-color: var(--cor003);
}

header {
   margin-top: -5px;
   box-shadow: inset 0px 10px 10px white;

   width: 100vw;
   display: flex;
   flex-flow: row nowrap;

   border-bottom: .5px dashed white;
}

header h1 {
   color: white;
   font-family: var(--fonte001);
   font-size: 1em;
   font-weight: 400;

   margin: 10px 0px 5px 15px;
}

header nav{
   margin: 0px 25px -2px 0px;
   padding-left: 25px;

   display: flex;
   flex-flow: row nowrap;
   align-items: flex-end;
}

header nav a {
   padding: 6px;
   margin: 0px 5px 3px 5px;

   color: white;
   border: .5px dashed white;
   border-bottom: 0px;

   text-decoration: none;
   font-family: var(--fonte001);
   font-size: .7em;
}

header nav a:hover {
   background-color: white;
   border-radius: 5px;
   font-size: .75em;
   transition: .7s;
   color: var(--cor003);
}

main.conteudo {
   background-image: url(../imagens/fundo001.png);
   background-size: contain;
 
   margin-bottom: 20px;
   padding: 20px;
}

main.conteudo  p {
  color: black;
  background-color: white;
  font-family: var(--fonte001);

  margin: -15px;
  padding: 10px;
  border-radius: 20px;
}

main#gest h1 {
   display: flex;
   flex-flow: row wrap-reverse;
   justify-content: center;
   width: 100vw;
   padding-top: 10px;

   font-family: var(--fonte001);
   font-size: 1.8em;
   text-align: center;
   background-color: rgba(255, 255, 255, 0.514);
}

main#gest h1 picture img {
   height: 110px;
   width: 110px;
   border-radius: 50%;

   text-align: center;
}

main#gest nav#menugestante {
   display: flex;
   flex-flow: row wrap;
   justify-content: space-between;
   background-color: rgba(255, 255, 255, 0.514);
   margin-bottom: 20px;
}

main#gest nav#menugestante a {
   background-color: white;
   border-radius: 50%;
   padding: 25px;
   margin: 10px;
   height: 30px;
   width: 50px;

   color: black;
   font-family: var(--fonte001);
   font-size: .7em;
   text-decoration: none;
   text-align: center;
}

main#cri h1 {
   display: flex;
   flex-flow: row wrap-reverse;
   justify-content: center;
   width: 100vw;
   padding-top: 10px;

   font-family: var(--fonte001);
   font-size: 1.8em;
   text-align: center;
   background-color: rgba(255, 255, 255, 0.514);
}

main#cri h1 picture img {
   height: 110px;
   width: 110px;
   border-radius: 50%;

   text-align: center;
}

main#cri nav#menucrianca {
   display: flex;
   flex-flow: row wrap;
   justify-content: space-between;
   background-color: rgba(255, 255, 255, 0.514);
}

main#cri nav#menucrianca a {
   background-color: white;
   border-radius: 50%;
   padding: 25px;
   margin: 10px;
   height: 35px;
   width: 55px;

   color: black;
   font-family: var(--fonte001);
   font-size: .65em;
   text-decoration: none;
   text-align: center;
}

